### Date 28th Nov 2022 Python Basic

In [6]:
i=2+3j
i

(2+3j)

In [7]:
#Complex number note that 'J' is used to mention the immaginary number.
# x+yj

cm= 2.0+ 4.0j

type(cm)

complex

In [8]:
print(cm.real,cm.imag)

2.0 4.0

In [2]:
print(i.real,i.imag)

2.0 3.0

In [5]:
# Remainder Value
4%2

0

In [6]:
# Quotient Value
4/2

2.0

In [9]:
# It will give the whole number
5//2

2

In [10]:
#BODMAS -- Bracket, off, Division, Multiplication, Addition, Substraction
5+3*2

11

In [14]:
# type operator provide the data of the "value" or "variable"
print(type(2))
print(type('Bharat'))

<class 'int'>
<class 'str'>

In [17]:
# Boolean Operation
print(True and True)
print(True and False)

type(True and True)

True
False

bool

In [ ]:
# Assignment : what is the difference between "OR" and "|"

"OR" : Logical Operator
"|"  : Bitwise Operator

### string

In [28]:
# Never user the reserved Keyword. The functionality of the reservered key word will be altered and it will give the error.

name='Bharat'
name

str(1)

# use the shift tab to get he details of the inbuild functation

'1'

In [23]:
Home='Hi'

In [27]:
Home

'Hi'

In [2]:
str1='A Good Boy'
str2='A bad Boy'
str1+" "+str2

'A Good Boy A bad Boy'

In [1]:
# get a Input then print the name
name = input("Enter your Name:")

print("Hello {}, Hope you are doing Good.".format(name))

Enter your Name:Bharat
Hello Bharat, Hope you are doing Good.

### Add 2 Number

In [7]:
a= float(input("Enter number 1st number: "))
b= input ("Enter Second Number: ")
c = a + float(b)
print("out put is:",c)

Enter number 1st number: 23
Enter Second Number: 34
out put is: 57.0

In [11]:
### string formating
first_name=input("What is your first Name: ")
last_name = input("What is your last name: ")

print("My first name is {}, Last name is {}".format(first_name,last_name))
print("My first name is {firstname}, Last name is {lastname}".format(lastname=last_name,firstname=first_name))

What is your first Name: Bharat
What is your last name: Soren
My first name is Bharat, Last name is Soren
My first name is Bharat, Last name is Soren

### Variable Dynamic Typing

In [13]:
## We don't have to manually specify the data type of the variable. before assigning the value to the variable
a=10
print(type(a))
b=10.0
print(type(b))
c="Stingss"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### Strong Typing

In [18]:
### Manually type casting the value to do the required operation

"Bharat" + str(1)
1 + int("2")

3

### Conditional Statements

In [21]:
## If and else
a = int(input("Enter the 1st number"))
b = int(input("Enter the 2nd number"))
c = a-b
if c<0:
    print("Number is negative: {}". format(c))
elif c>40:
    print("Number is Huge")
else:
    print("Number is positive: {}".format(c))

Enter the 1st number34
Enter the 2nd number45
Number is negative: -11

### Data Structure

1. Tuple
2. Dictionary
3. String
4. Sets
5. List

## List
It is a collection of homogeneous, heterogeneous elements. it can contains any things. The values will be closed in the square bracket

In [2]:
lst=[1,2,3,4,"Bharat",'Soren']

In [3]:
lst

[1, 2, 3, 4, 'Bharat', 'Soren']

In [4]:
type(lst)

list

In [6]:
lst[4]

'Bharat'

In [7]:
type(lst[4])

str

In [11]:
print(lst)
lst.append("Chandra")

[1, 2, 3, 4, 'Bharat', 'Soren', 'Chandra', 'Chandra']

In [14]:
lst

[1, 2, 3, 4, 'Bharat', 'Soren', 'Chandra', 'Chandra', 'Chandra']

In [15]:
lst[2]='Home'

In [16]:
print(lst)

[1, 2, 'Home', 4, 'Bharat', 'Soren', 'Chandra', 'Chandra', 'Chandra']

In [17]:
### Indexing
str1='Bharat'
str1[4]

'a'

In [18]:
str1[4]='G'

TypeError: 'str' object does not support item assignment

In [1]:
## As string does not support item assignment So string is a immutable

### Date 29th Nov 2021

### Loops

In [10]:
# For Loop
lst=[34,56,43,23,76,45,98,345,9]
len(lst)

9

In [16]:
## Sum of all elements in list
sum1=0
for i in lst:
    print(sum1,i)
    sum1=sum1+i
print("Total value is: ",sum1)

0 34
34 56
90 43
133 23
156 76
232 45
277 98
375 345
720 9
Total value is:  729

In [18]:
%%time
lst1=[1,2,3,4,5,6,7,8,9]
evensum=0
oddsum=0
for i in lst1:
    if i%2==0:
        evensum+=i
    else:
        oddsum+=i
print(evensum,oddsum)

20 25
CPU times: total: 0 ns
Wall time: 0 ns

## (For Else Block) For Loop With Else

In [22]:
# Else block will be executed once the for loop is completed with out any break

lst34=[1,2,3,4,10,5,6,7,7,8,9]
sum2=0
for i in lst34:
    if i==10:
        break
    sum2+=i
else:
    print("The list iteration is completed")
print("Sum is: ",sum2)

Sum is:  10

In [30]:
# Find the sum of even and odd numbers. If even or odd sum is greater then 20 then implement the break statement.
# else print the completion statements

lst=[1,2,3,4,5,6,7,8,9,7]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
    if(even_sum > 20 or odd_sum > 20):
        break
else:
    print("The list iteration is completed")
print("Even Sum is:{} and Odd Sum is: {}".format(even_sum,odd_sum))

Even Sum is:20 and Odd Sum is: 25

### While Loop

In [1]:
## sum of n elements(1,2,3,4,5,6,7,8,9,10)
n=10
i=1
sum1=0

while i<=n:
    sum1+=i
    i+=1
print(sum1)

55

In [4]:
## sum of odd and even number for n elements using while loop
n= float(input("Enter the Elements number: "))
i=1
even_sum=0
odd_sum=0
while i<=n:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
    i+=1
print("Even number sum is: {even_sum1} and Odd number sum is: {odd_sum1}".format(even_sum1=even_sum,odd_sum1=odd_sum))

Enter the Elements number: 10
Even number sum is: 30 and Odd number sum is: 25

### The range() Funtion

In [5]:
#Range function is the inbulid funtion in python
range(10)

range(0, 10)

In [6]:
#The sequence is start from 0 to n-1

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [8]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
sum(range(0,100,2)) # all even numbers sum from 0 to 100

2450

In [10]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

### Continue

In [11]:
for ch in "string":
    if ch=='i':
        continue
    print(ch)

s
t
r
n
g

### String

In [9]:
## String can be defined useing the single quotes or double quotes
str1="Bharat Chandra Soren"
str2="Bharat\tChandra\tSoren"
print("capitalize function: ",str1.capitalize()) # Converts the first character of the string to a capital (uppercase) letter
print("casefold function: ",str1.casefold()) # Implements caseless string matching

print("center functions: ",str1.center(30,"*")) #Pad the string with the specified character.
print("count function: ",str1.count('a')) #Returns the number of occurrences of a substring in the string.

print("Encode function: ",str1.encode('utf8','ignore')) #Encodes strings with the specified encoded scheme
print("endswith fuction: ",str1.endswith('n') ) #Returns “True” if a string ends with the given suffix

print("expandtabs function: ",str2.expandtabs()) #Specifies the amount of space to be substituted with the “\t” symbol in the string
print("find function:",str1.find("a")) #Returns the lowest index of the substring if it is found


# input stored in variable a.
a = {'x':'John', 'y':'Wick'}

print("format function: Out put is:{},{}".format(str1,str2))#Formats the string for printing it to console
print("format map function: ") #Formats specified values in a string using a dictionary

# Use of format_map() function
print("{x}'s last name is {y}".format_map(a))

print("Index Functions: ", str1.index('S')) #Returns the position of the first occurrence of a substring in a string
print("Isalnum Functions: ",str1.isalnum()) #Checks whether all the characters in a given string is alphanumeric or not

capitalize function:  Bharat chandra soren
casefold function:  bharat chandra soren
center functions:  *****Bharat Chandra Soren*****
count function:  4
Encode function:  b'Bharat Chandra Soren'
endswith fuction:  True
expandtabs function:  Bharat  Chandra Soren
find function: 2
format function: Out put is:Bharat Chandra Soren,Bharat	Chandra	Soren
format map function:
John's last name is Wick
Index Functions:  15
Isalnum Functions:  False

### Difference Between "casefold" and "lower" functions
**casefold()** is suited for caseless matching for **"unicode"** characters while str. **lower()** is suited for caseless matching of **"ASCII"** characters.

### Difference Between the Unicode and ANSCII Charecters
**Unicode:** is the universal character encoding used to process, store and facilitate the interchange of text data in any language                       

**ASCII:** (American Standard Code for Information Interchange(ASCII))  is used for the representation of text such as symbols, letters, digits, etc. in computers.  It is a character encoding standard for electronic communication

For more details please refer to below link
https://www.geeksforgeeks.org/ascii-vs-unicode/