### List Comprehension

In [22]:
lst=[1,2,3,4,"Bharat"]
type(lst)

list

In [27]:
lst
lst.reverse() # IT permanently sort the element in the list
print(lst)

['Bharat', 4, 3, 2, 1]

In [30]:
lst4=["Bharat","Chandra","Soren","Home","Sweet"]
rlst4=[i[::-1] for i in lst4[::-1]] ## Reverse the list and also items inside it
print(rlst4)

['teewS', 'emoH', 'neroS', 'ardnahC', 'tarahB']

In [2]:
lst1=[1,2,3,4]
lst2=[]
print("list Elements",lst1)
for i in lst1:
    lst2.append(i**2)
print(lst2)

list Elements [1, 2, 3, 4]
[1, 4, 9, 16]

In [3]:
lst2=[i**2 for i in lst1]
print(lst2)
##Sum of even number inside the Collection
lst3=[1,2,3,4,5,6,7,8,9,10]
even=[i for i in lst3 if i%2==0]
print(even)
print("Sum of even Numbers:",sum([i for i in lst3 if i%2==0]))

[1, 4, 9, 16]
[2, 4, 6, 8, 10]
Sum of even Numbers: 30

## Tuples

In [6]:
##Tuples is simillar to List
#We Can create a tuples with different data type.

t=(1,2,3,4,5)
print(t)

m= tuple([1,2,3,4,5,"Bharat"])
print(type(m))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [14]:
print(m[5]) # show 5th index element
print(m[2:]) # show from 2nd index to Last
print(m[:-1]) #Show all except last element
print(m[::-1]) ## Reverse the Order

Bharat
(3, 4, 5, 'Bharat')
(1, 2, 3, 4, 5)
('Bharat', 5, 4, 3, 2, 1)

In [16]:
# Tuple is immutable: We won't be able to change the element inside the tuple or string. 
## we will be able to replace the whole string or tuple but won't be able to change the element inside.

m[5]='Soren'

TypeError: 'tuple' object does not support item assignment

In [31]:
name=("Bharat","Chandra","Soren")
name.count("Bharat")

1

### Set

Sets are an unordered collection of unique elements which can be constructed using the set() function

In [2]:
t1=(1,2,3,4,5,6)
type(t1)

tuple

In [3]:
print(type(set(t1)))
print(set(t1))

t2={1,2,3,4,5,6,7,8}
print(t2)

<class 'set'>
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
x = set()
x1={1,2,3,4,5,5,6,7}
x2={2,3,4,5,6,7,8}
x1.add(10)
x1

{1, 2, 3, 4, 5, 6, 7, 10}

In [15]:
t1=x1.copy()
print(t1)

t1

{1, 2, 3, 4, 5, 6, 7, 10}

{1, 2, 3, 4, 5, 6, 7, 10}

## Set Functions:

In [17]:
Method	                                  Description
add()------------------------------------>Adds an element to the set
clear()---------------------------------->Removes all the elements from the set
copy()----------------------------------->Returns a copy of the set
difference()----------------------------->Returns a set containing the difference between two or more sets
difference_update()---------------------->Removes the items in this set that are also included in another, specified set
discard()-------------------------------->Remove the specified item
intersection()--------------------------->Returns a set, that is the intersection of two or more sets
intersection_update()-------------------->Removes the items in this set that are not present in other, specified set(s)
isdisjoint()----------------------------->Returns whether two sets have a intersection or not
issubset()------------------------------->Returns whether another set contains this set or not
issuperset()----------------------------->Returns whether this set contains another set or not
pop()------------------------------------>Removes an element from the set
remove()--------------------------------->Removes the specified element
symmetric_difference()------------------->Returns a set with the symmetric differences of two sets
symmetric_difference_update()------------>inserts the symmetric differences from this set and another
union()---------------------------------->Return a set containing the union of sets
update()--------------------------------->Update the set with another set, or any other iterable

SyntaxError: invalid syntax (1764498422.py, line 2)

## Dictionary

It is a combination of *key* *value* pair.

In [18]:
var={1:"Bharat",2:"Soren",3:31}
var

{1: 'Bharat', 2: 'Soren', 3: 31}

In [22]:
## Indexing
var.items()
var.keys()
var.values()

dict_values(['Bharat', 'Soren', 31])

In [24]:
var[2]

'Soren'

In [33]:
my_dict={"Key1":"Bharat","Key2":[1,2,3,4,5],"Key3":[9,8,7,6,5,4,3,2]}
my_dict["Key2"][3]

4

## Nesting with Dictionary

In [37]:
d={"key1":{"key2":{"key3":"Value"}}}
d

{'key1': {'key2': {'key3': 'Value'}}}

In [38]:
d['key1']['key2']['key3']

'Value'

## Dictionary Comprehension

In [2]:
# Dec 5th Class
{'key1':'value1'}
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Functions
What is function ?

Function will be one of our main building blocks when we construct the larger and larger amount of code to solve the problem.

Functions groups a set of statements together to run the statements more than once. It allows us to specify the parameters that can serve as input to the function.

In [4]:
print("Hello World")

Hello World

In [7]:
## Function
## Function syntax
def func_name(param1,param2):
    # put the code here which you wanted to perform.
    pass

In [16]:
# function to find the sum of all the even numbers and odd numbers
def even_odd_sum(lst):
    odd_sum=0
    even_sum=0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
   # print("even Sum is: {} Odd Sum is: {}".format(even_sum,odd_sum))
    return even_sum,odd_sum

In [17]:
lstnum=[1,2,3,4,5,6,7,8,9]

e_su,o_su=even_odd_sum(lstnum)
print("Even Sum is:",e_su)
print("Odd Sum is: ",o_su)

Even Sum is: 20
Odd Sum is:  25

In [31]:
# Function to add the elements of two list
def add_list(lst1,lst2):
    lstr=[]
    lst1ln=len(lst1)
    lst2ln=len(lst2)
#    print(lst2ln)
    rng=0
    
    if(lst1ln <= lst2ln):
        rng=lst2ln
    else:
        rng=lst1ln
      
    for i in range(rng):
        if(lst1ln>i and lst2ln > i):
            lstr.append(lst1[i]+lst2[i])
        elif(lst1ln <= i):
            lstr.append(lst2[i])
        else:
            lstr.append(lst1[i])
    return lstr
    
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4,2]
flstr=add_list(lst1,lst2)
print(flstr)

[8, 10, 12, 14, 9, 11, 2]

# Iterator and Generator

In [2]:
# list is iterable
for i in [1,2,3,45,6,6,7,9]:
    print(i)

1
2
3
45
6
6
7
9

In [10]:
### Iterator
#Iterator can be created on an iterable object.

### Lazy Evaluation
#Unless and until I call the specific element in the object, that particular element will not get loaded into the chase.

a =iter([1,2,3,4,5,6,7,8,9])

next(a)

1

In [9]:
for i in a:
    print(i)

In [32]:
## Generator
# Using Functions

def get_cube(n):
    re=[]
    if type(n) ==list:
        
        for i in n:
            re.append(i**3)
        return re
    elif (type(n)==int) or (type(n)==float):
        return n**3
    else:
        print("Enter valid Data")
        
lst=[1,2,3,4,5,6]
t=5.7
print(get_cube(t))
  
# Generator Function to print the cube of a number
      
      
def getcube(n):
    resultset=[]
    for i in range(n):
        yield i**3

185.193

In [34]:
output=getcube(5)
output


t=7.5
#type(t)

In [36]:
## Finbonacci Series

def getfiboseries(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

a=getfiboseries(5)

In [1]:
for i in a:
    print(i)
    
# Map Function
#

NameError: name 'a' is not defined

## Map()
Map is the function which take two argument
1. Function
2. A sequence iterable

In [3]:
# function square of the number
def square_number(x):
    return x*x

square_number(5)

25

In [10]:
#square_number([1,2,3,4,5,6,7,8,9])
xt=[1,2,3,4,5,6,7,8,9]
res=map(square_number,xt)

#for i in res:
#    print(i)
list(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
# Convert the celsius to fahrenheit

def fahrenheit(T):
    return((float(9)/5)*T+32)

def celsius(T):
    return(float(5)/9)*(T-32)

def sums(x,y):
    return x+y

In [13]:
temp=[0,22.5,40,100]

In [17]:
#Am Jindegi

res=[]
for i in temp:
    res.append(fahrenheit(i))
res

[32.0, 72.5, 104.0, 212.0]

In [36]:
#mentos Jindegi
list(map(fahrenheit,temp))

[32.0, 72.5, 104.0, 212.0]

In [39]:
#Map function with multiple parameters with same lenght.
list(map(sums,[1,2,3,4,5],[1,2,3,4,5]))

[2, 4, 6, 8, 10]

# Lamda function
It is a function without any function name.

In [20]:
lambda x:x*x

list(map(lambda x:x*x,[1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Reduce Function
This function take two arguments 
1. **function_name** 
2. **sequencial iterable**

***
The function reduce(function,sequence) continually applies the function to the sequence. It returns a single value.
reduce function is present inside the `functools` package.

Syntax is *from functools import reduce*

***

In [27]:
from functools import reduce
# find the maximum of a sequence(Do not use the Max())

max_find= lambda a,b: a if (a>b) else b

reduce(max_find,li)

li=[1,2,3,4,5,6,7,8,9,8,40]

In [28]:
max_find(10,12)

12

In [29]:
max(li)

40

In [30]:
# find the sum of all the numbers in list
from functools import reduce
sum_num=lambda x,y:x+y

sum_num(10,23)

33

In [33]:
lst=[23,35,56,78,47,24,49]
reduce(sum_num,lst)

312

## Filter Function
The function filter(function, list) offers a convinient way to filter out all the elements of an iterable for which function returns "True"

In [41]:
# Lets first make a functions
def check_even(num):
    if(num%2==0):
        return True

In [45]:
lst=[34,69,123,45,67,35,98,2,4,6,7,8,9,4,5,1]

res=filter(check_even,lst)
list(res)

[34, 98, 2, 4, 6, 8, 4]

In [ ]:
# 12th December