##### Web APIs

Application programming interface

In [27]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
url1 = 'https://github.com/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [32]:
data = resp.json()
data[29]['user']

{'login': 'mroeschke',
 'id': 10647082,
 'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/mroeschke',
 'html_url': 'https://github.com/mroeschke',
 'followers_url': 'https://api.github.com/users/mroeschke/followers',
 'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
 'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
 'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
 'repos_url': 'https://api.github.com/users/mroeschke/repos',
 'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
 'type': 'User',
 'site_admin': False}

In [26]:
for i in range(len(data)):
    print(data[i]['user'])
    print('******************\n')

{'login': 'rhshadrach', 'id': 45562402, 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy', 'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/rhshadrach', 'html_url': 'https://github.com/rhshadrach', 'followers_url': 'https://api.github.com/users/rhshadrach/followers', 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}', 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions', 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs', 'repos_url': 'https://api.github.com/users/rhshadrach/repos', 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}', 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'rhshadrach', 'id': 45562402, 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy', 'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/rhshadrach', 'html_url': 'https://github.com/rhshadrach', 'followers_url': 'https://api.github.com/users/rhshadrach/followers', 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}', 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions', 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs', 'repos_url': 'https://api.github.com/users/rhshadrach/repos', 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}', 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'jadeidev', 'id': 32917209, 'node_id': 'MDQ6VXNlcjMyOTE3MjA5', 'avatar_url': 'https://avatars.githubusercontent.com/u/32917209?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jadeidev', 'html_url': 'https://github.com/jadeidev', 'followers_url': 'https://api.github.com/users/jadeidev/followers', 'following_url': 'https://api.github.com/users/jadeidev/following{/other_user}', 'gists_url': 'https://api.github.com/users/jadeidev/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jadeidev/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jadeidev/subscriptions', 'organizations_url': 'https://api.github.com/users/jadeidev/orgs', 'repos_url': 'https://api.github.com/users/jadeidev/repos', 'events_url': 'https://api.github.com/users/jadeidev/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jadeidev/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'natmokval', 'id': 91160475, 'node_id': 'MDQ6VXNlcjkxMTYwNDc1', 'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/natmokval', 'html_url': 'https://github.com/natmokval', 'followers_url': 'https://api.github.com/users/natmokval/followers', 'following_url': 'https://api.github.com/users/natmokval/following{/other_user}', 'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions', 'organizations_url': 'https://api.github.com/users/natmokval/orgs', 'repos_url': 'https://api.github.com/users/natmokval/repos', 'events_url': 'https://api.github.com/users/natmokval/events{/privacy}', 'received_events_url': 'https://api.github.com/users/natmokval/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'kerrickstaley', 'id': 184773, 'node_id': 'MDQ6VXNlcjE4NDc3Mw==', 'avatar_url': 'https://avatars.githubusercontent.com/u/184773?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/kerrickstaley', 'html_url': 'https://github.com/kerrickstaley', 'followers_url': 'https://api.github.com/users/kerrickstaley/followers', 'following_url': 'https://api.github.com/users/kerrickstaley/following{/other_user}', 'gists_url': 'https://api.github.com/users/kerrickstaley/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/kerrickstaley/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/kerrickstaley/subscriptions', 'organizations_url': 'https://api.github.com/users/kerrickstaley/orgs', 'repos_url': 'https://api.github.com/users/kerrickstaley/repos', 'events_url': 'https://api.github.com/users/kerrickstaley/events{/privacy}', 'received_events_url': 'https://api.github.com/users/kerrickstaley/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'rhshadrach', 'id': 45562402, 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy', 'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/rhshadrach', 'html_url': 'https://github.com/rhshadrach', 'followers_url': 'https://api.github.com/users/rhshadrach/followers', 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}', 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions', 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs', 'repos_url': 'https://api.github.com/users/rhshadrach/repos', 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}', 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'jbrockmendel', 'id': 8078968, 'node_id': 'MDQ6VXNlcjgwNzg5Njg=', 'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jbrockmendel', 'html_url': 'https://github.com/jbrockmendel', 'followers_url': 'https://api.github.com/users/jbrockmendel/followers', 'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}', 'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions', 'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs', 'repos_url': 'https://api.github.com/users/jbrockmendel/repos', 'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'jbrockmendel', 'id': 8078968, 'node_id': 'MDQ6VXNlcjgwNzg5Njg=', 'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jbrockmendel', 'html_url': 'https://github.com/jbrockmendel', 'followers_url': 'https://api.github.com/users/jbrockmendel/followers', 'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}', 'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions', 'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs', 'repos_url': 'https://api.github.com/users/jbrockmendel/repos', 'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'vectro', 'id': 40582759, 'node_id': 'MDQ6VXNlcjQwNTgyNzU5', 'avatar_url': 'https://avatars.githubusercontent.com/u/40582759?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/vectro', 'html_url': 'https://github.com/vectro', 'followers_url': 'https://api.github.com/users/vectro/followers', 'following_url': 'https://api.github.com/users/vectro/following{/other_user}', 'gists_url': 'https://api.github.com/users/vectro/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/vectro/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/vectro/subscriptions', 'organizations_url': 'https://api.github.com/users/vectro/orgs', 'repos_url': 'https://api.github.com/users/vectro/repos', 'events_url': 'https://api.github.com/users/vectro/events{/privacy}', 'received_events_url': 'https://api.github.com/users/vectro/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'harmbuisman', 'id': 7702207, 'node_id': 'MDQ6VXNlcjc3MDIyMDc=', 'avatar_url': 'https://avatars.githubusercontent.com/u/7702207?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/harmbuisman', 'html_url': 'https://github.com/harmbuisman', 'followers_url': 'https://api.github.com/users/harmbuisman/followers', 'following_url': 'https://api.github.com/users/harmbuisman/following{/other_user}', 'gists_url': 'https://api.github.com/users/harmbuisman/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/harmbuisman/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/harmbuisman/subscriptions', 'organizations_url': 'https://api.github.com/users/harmbuisman/orgs', 'repos_url': 'https://api.github.com/users/harmbuisman/repos', 'events_url': 'https://api.github.com/users/harmbuisman/events{/privacy}', 'received_events_url': 'https://api.github.com/users/harmbuisman/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'hackaholic', 'id': 3721438, 'node_id': 'MDQ6VXNlcjM3MjE0Mzg=', 'avatar_url': 'https://avatars.githubusercontent.com/u/3721438?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/hackaholic', 'html_url': 'https://github.com/hackaholic', 'followers_url': 'https://api.github.com/users/hackaholic/followers', 'following_url': 'https://api.github.com/users/hackaholic/following{/other_user}', 'gists_url': 'https://api.github.com/users/hackaholic/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/hackaholic/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/hackaholic/subscriptions', 'organizations_url': 'https://api.github.com/users/hackaholic/orgs', 'repos_url': 'https://api.github.com/users/hackaholic/repos', 'events_url': 'https://api.github.com/users/hackaholic/events{/privacy}', 'received_events_url': 'https://api.github.com/users/hackaholic/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'koizumihiroo', 'id': 35495924, 'node_id': 'MDQ6VXNlcjM1NDk1OTI0', 'avatar_url': 'https://avatars.githubusercontent.com/u/35495924?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/koizumihiroo', 'html_url': 'https://github.com/koizumihiroo', 'followers_url': 'https://api.github.com/users/koizumihiroo/followers', 'following_url': 'https://api.github.com/users/koizumihiroo/following{/other_user}', 'gists_url': 'https://api.github.com/users/koizumihiroo/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/koizumihiroo/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/koizumihiroo/subscriptions', 'organizations_url': 'https://api.github.com/users/koizumihiroo/orgs', 'repos_url': 'https://api.github.com/users/koizumihiroo/repos', 'events_url': 'https://api.github.com/users/koizumihiroo/events{/privacy}', 'received_events_url': 'https://api.github.com/users/koizumihiroo/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'wangwillian0', 'id': 24196338, 'node_id': 'MDQ6VXNlcjI0MTk2MzM4', 'avatar_url': 'https://avatars.githubusercontent.com/u/24196338?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/wangwillian0', 'html_url': 'https://github.com/wangwillian0', 'followers_url': 'https://api.github.com/users/wangwillian0/followers', 'following_url': 'https://api.github.com/users/wangwillian0/following{/other_user}', 'gists_url': 'https://api.github.com/users/wangwillian0/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/wangwillian0/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/wangwillian0/subscriptions', 'organizations_url': 'https://api.github.com/users/wangwillian0/orgs', 'repos_url': 'https://api.github.com/users/wangwillian0/repos', 'events_url': 'https://api.github.com/users/wangwillian0/events{/privacy}', 'received_events_url': 'https://api.github.com/users/wangwillian0/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'phofl', 'id': 61934744, 'node_id': 'MDQ6VXNlcjYxOTM0NzQ0', 'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/phofl', 'html_url': 'https://github.com/phofl', 'followers_url': 'https://api.github.com/users/phofl/followers', 'following_url': 'https://api.github.com/users/phofl/following{/other_user}', 'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions', 'organizations_url': 'https://api.github.com/users/phofl/orgs', 'repos_url': 'https://api.github.com/users/phofl/repos', 'events_url': 'https://api.github.com/users/phofl/events{/privacy}', 'received_events_url': 'https://api.github.com/users/phofl/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'phofl', 'id': 61934744, 'node_id': 'MDQ6VXNlcjYxOTM0NzQ0', 'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/phofl', 'html_url': 'https://github.com/phofl', 'followers_url': 'https://api.github.com/users/phofl/followers', 'following_url': 'https://api.github.com/users/phofl/following{/other_user}', 'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions', 'organizations_url': 'https://api.github.com/users/phofl/orgs', 'repos_url': 'https://api.github.com/users/phofl/repos', 'events_url': 'https://api.github.com/users/phofl/events{/privacy}', 'received_events_url': 'https://api.github.com/users/phofl/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'jbrockmendel', 'id': 8078968, 'node_id': 'MDQ6VXNlcjgwNzg5Njg=', 'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jbrockmendel', 'html_url': 'https://github.com/jbrockmendel', 'followers_url': 'https://api.github.com/users/jbrockmendel/followers', 'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}', 'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions', 'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs', 'repos_url': 'https://api.github.com/users/jbrockmendel/repos', 'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'ABizzinotto', 'id': 40039437, 'node_id': 'MDQ6VXNlcjQwMDM5NDM3', 'avatar_url': 'https://avatars.githubusercontent.com/u/40039437?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/ABizzinotto', 'html_url': 'https://github.com/ABizzinotto', 'followers_url': 'https://api.github.com/users/ABizzinotto/followers', 'following_url': 'https://api.github.com/users/ABizzinotto/following{/other_user}', 'gists_url': 'https://api.github.com/users/ABizzinotto/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/ABizzinotto/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/ABizzinotto/subscriptions', 'organizations_url': 'https://api.github.com/users/ABizzinotto/orgs', 'repos_url': 'https://api.github.com/users/ABizzinotto/repos', 'events_url': 'https://api.github.com/users/ABizzinotto/events{/privacy}', 'received_events_url': 'https://api.github.com/users/ABizzinotto/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'phofl', 'id': 61934744, 'node_id': 'MDQ6VXNlcjYxOTM0NzQ0', 'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/phofl', 'html_url': 'https://github.com/phofl', 'followers_url': 'https://api.github.com/users/phofl/followers', 'following_url': 'https://api.github.com/users/phofl/following{/other_user}', 'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions', 'organizations_url': 'https://api.github.com/users/phofl/orgs', 'repos_url': 'https://api.github.com/users/phofl/repos', 'events_url': 'https://api.github.com/users/phofl/events{/privacy}', 'received_events_url': 'https://api.github.com/users/phofl/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'MichaelTiemannOSC', 'id': 72577720, 'node_id': 'MDQ6VXNlcjcyNTc3NzIw', 'avatar_url': 'https://avatars.githubusercontent.com/u/72577720?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/MichaelTiemannOSC', 'html_url': 'https://github.com/MichaelTiemannOSC', 'followers_url': 'https://api.github.com/users/MichaelTiemannOSC/followers', 'following_url': 'https://api.github.com/users/MichaelTiemannOSC/following{/other_user}', 'gists_url': 'https://api.github.com/users/MichaelTiemannOSC/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/MichaelTiemannOSC/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/MichaelTiemannOSC/subscriptions', 'organizations_url': 'https://api.github.com/users/MichaelTiemannOSC/orgs', 'repos_url': 'https://api.github.com/users/MichaelTiemannOSC/repos', 'events_url': 'https://api.github.com/users/MichaelTiemannOSC/events{/privacy}', 'received_events_url': 'https://api.github.com/users/MichaelTiemannOSC/received_events', 'type': 'User', 'site_admin': False}
******************

{'login': 'EwoutH', 'id': 15776622, 'node_id': 'MDQ6VXNlcjE1Nzc2NjIy', 'avatar_url': 'https://avatars.githubusercontent.com/u/15776622?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/EwoutH', 'html_url': 'https://github.com/EwoutH', 'followers_url': 'https://api.github.com/users/EwoutH/followers', 'following_url': 'https://api.github.com/users/EwoutH/following{/other_user}', 'gists_url': 'https://api.github.com/users/EwoutH/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/EwoutH/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/EwoutH/subscriptions', 'organizations_url': 'https://api.github.com/users/EwoutH/orgs', 'repos_url': 'https://api.github.com/users/EwoutH/repos', 'events_url': 'https://api.github.com/users/EwoutH/events{/privacy}', 'received_events_url': 'https://api.github.com/users/EwoutH/received_events', 'type': 'User', 'site_admin': False}
******************


In [35]:
import pandas as pd
issues = pd.DataFrame(data, columns=['number', 'title','labels','state'])
issues.head()

,number,title,labels,state
0,55556,BUG: Don't clean docs and open browser in code...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,55555,DOC: Remove explicit paths from references,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
2,55554,BUG: after pandas 2.1.0 sqlite isnt able to au...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,55553,DEPR offsets: rename 'Q' to 'QE',[],open
4,55552,ENH: Preserve column attrs when doing column s...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open

### Intracting with Databases


#### What is the SQLite Database

SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine.

SQLite is the most used database engine in the world. SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day. More Information...

In [38]:
import sqlite3 as sqlt

#Connecting with the databases . It will automatically create the db if it is not present.
db = sqlt.connect('FileIO and DB Connection Examples\\my_database4.db')

# Execute method is used to excute the statement passes as parameter.
db.execute("drop table if exists test1")

# To create a multipline statement use the triple quotes.
query = """ 
CREATE TABLE TEST1( a varchar(20),b varchar(20),c REAL, d INTEGER);
"""

db1 = sqlt.connect('FileIO and DB Connection Examples\\mydata2.sqlite')
db1.execute(query)
db1.commit()

In [36]:
pwd

'D:\\Data Science\\Practice\\Restart\\Classes'

In [43]:
res = db1.execute('Select * from test1;')
res.fetchall()

[]

In [44]:
ins_data =""" insert into test1(a,b,c,d) values('abc','cdr',1.0,5);"""

db1.execute(ins_data)
db1.commit()

In [45]:
res = db1.execute('Select * from test1;')
res.fetchall()

[('abc', 'cdr', 1.0, 5)]

In [48]:
 datas = [('Atlanta','Georgia',1.25,6),
         ('Tallahassee','Florida',2.6,3),
         ('Sacramento','California',1.7,5)]

stmt = "INSERT INTO test1 VALUES (?,?,?,?)"

db1.executemany(stmt,datas)
db1.commit()

In [55]:
stmt_select ='Select * from test1;'
cursor = db1.execute(stmt_select)
rows = cursor.fetchall()
rows

[('abc', 'cdr', 1.0, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [51]:
cursor

In [52]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [57]:
df = pd.DataFrame(rows,columns=[x[0] for x in cursor.description])
df

             a           b     c  d
0          abc         cdr  1.00  5
1      Atlanta     Georgia  1.25  6
2  Tallahassee     Florida  2.60  3
3   Sacramento  California  1.70  5

## Exploritary Data Analysis

In [59]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
file_path ='Titanic_DataSet/titanic.csv'
titanic_train = pd.read_csv(file_path)
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [98]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [99]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [100]:
titanic_train.dtypes == "object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [101]:
titanic_train.dtypes[titanic_train.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [102]:
titanic_train.dtypes[titanic_train.dtypes == "object"].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [103]:
a = titanic_train[titanic_train.dtypes[titanic_train.dtypes == "object"].index]
a

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [104]:
a.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [105]:
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [106]:
b = titanic_train[titanic_train.dtypes[titanic_train.dtypes == "int64"].index]
b

     PassengerId  Survived  Pclass  SibSp  Parch
0              1         0       3      1      0
1              2         1       1      1      0
2              3         1       3      0      0
3              4         1       1      1      0
4              5         0       3      0      0
..           ...       ...     ...    ...    ...
886          887         0       2      0      0
887          888         1       1      0      0
888          889         0       3      1      2
889          890         1       1      0      0
890          891         0       3      0      0

[891 rows x 5 columns]

In [107]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [108]:
titanic_train[['Name','Sex','Age']]

                                                  Name     Sex   Age
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

[891 rows x 3 columns]

In [109]:
sorted(titanic_train['Name'])[5:10:2] # Check the first 15 sorted Name

['Adahl, Mr. Mauritz Nils Martin',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Albimona, Mr. Nassef Cassem']

In [85]:
titanic_train["Name"].describe()

count                         891
unique                        891
top       Braund, Mr. Owen Harris
freq                            1
Name: Name, dtype: object

In [110]:
titanic_train["sudh"] = "sdffs" # Adding a column to the Data Frame.

In [88]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sdffs
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sdffs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sdffs
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sdffs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sdffs

In [91]:
titanic_train["Pclass"]

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [92]:
titanic_train["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [93]:
pd.Categorical(titanic_train["Pclass"])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [94]:
titanic_train["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [111]:
import numpy as np

char_cabin = titanic_train["Cabin"].astype(str)

new_cabin = [cabin[0] for cabin in char_cabin]

new_cabin = pd.Categorical(new_cabin)
new_cabin

['n', 'C', 'n', 'C', 'n', ..., 'n', 'B', 'n', 'C', 'n']
Length: 891
Categories (9, object): ['A', 'B', 'C', 'D', ..., 'F', 'G', 'T', 'n']

In [112]:
titanic_train["New_Cabin"] = new_cabin
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh,New_Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sdffs,n
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sdffs,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sdffs,n
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sdffs,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sdffs,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,sdffs,n
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,sdffs,B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sdffs,n
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,sdffs,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,sdffs,n

In [113]:
missing = np.where(titanic_train["Age"].isnull()==True)
missing

(array([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,  45,  46,  47,
         48,  55,  64,  65,  76,  77,  82,  87,  95, 101, 107, 109, 121,
        126, 128, 140, 154, 158, 159, 166, 168, 176, 180, 181, 185, 186,
        196, 198, 201, 214, 223, 229, 235, 240, 241, 250, 256, 260, 264,
        270, 274, 277, 284, 295, 298, 300, 301, 303, 304, 306, 324, 330,
        334, 335, 347, 351, 354, 358, 359, 364, 367, 368, 375, 384, 388,
        409, 410, 411, 413, 415, 420, 425, 428, 431, 444, 451, 454, 457,
        459, 464, 466, 468, 470, 475, 481, 485, 490, 495, 497, 502, 507,
        511, 517, 522, 524, 527, 531, 533, 538, 547, 552, 557, 560, 563,
        564, 568, 573, 578, 584, 589, 593, 596, 598, 601, 602, 611, 612,
        613, 629, 633, 639, 643, 648, 650, 653, 656, 667, 669, 674, 680,
        692, 697, 709, 711, 718, 727, 732, 738, 739, 740, 760, 766, 768,
        773, 776, 778, 783, 790, 792, 793, 815, 825, 826, 828, 832, 837,
        839, 846, 849, 859, 863, 868, 878, 888], dtype=int64),)

In [114]:
titanic_train["Age"].head(20)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [115]:
np.where(titanic_train["Fare"] == max(titanic_train["Fare"]))

(array([258, 679, 737], dtype=int64),)

In [118]:
titanic_train.iloc[np.where(titanic_train["Fare"] == max(titanic_train["Fare"]))]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sudh,New_Cabin
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,sdffs,n
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,sdffs,B
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,sdffs,B