#### Python Basic

In [15]:
1+2

3

In [17]:
4%2 #It is the reminver value

0

In [18]:
4/2 # quotient Value

2.0

In [20]:
5//2 # It is going to give the whole number and not going to consider the decimal number

2

In [21]:
5/2 # Basic Operations

2.5

In [22]:
2+3*5   #BODMAS-- Bracket, off, Division, Multiplication, Addition, Substraction

17

In [23]:
(2+3)*5

25

In [24]:
type(5)

int

In [25]:
type("Bharat")

str

In [26]:
## Boolian Operations
type(True)

bool

In [27]:
## What is the difference between the "OR" and "|" Operation

# "OR" is the Logical Operator
# "|" is the Bitwise Operator

In [29]:
### Strings
# Double and single qoute is having the same meaning.
# Never use the Reserver keyward as a variable because it will overrite the reserver key word functionality

str1="Bharat is good Boy"
str1

'Bharat is good Boy'

In [31]:
str(1) # To view the inbuild function definition details use the "Shift key" and "TAB key"

'1'

In [32]:
# To view the output in the console use the "Print" function. It will always provide the output type as string

In [33]:
str1="A good Boy"
str2="A bad Boy"

In [34]:
print(str1)
print(str2)

A good Boy
A bad Boy

In [38]:
str1+" "+str2

'A good Boy A bad Boy'

In [40]:
# Provide the input at the runtime .
name = input("Enter your Name: ")
print("Hello "+name)

Enter your Name: Bharat
Hello Bharat

In [45]:
## Add two numbers
a = float(input("Enter a 1st Number :"))
b = float(input("Enter a 2nd Number :"))
c = a+b
print("The output is:",c)

Enter a 1st Number :12
Enter a 2nd Number :23
The output is: 35.0

In [1]:
### String Formating
first_name=input("Enter your first name")
last_name=input("Enter your last name")
print("Welcome",first_name,last_name)
print("My first name is: {}, My last name is: {}".format(first_name,last_name))

print("My first name is: {firstname}, My last name is: {lastname}".format(lastname=last_name,firstname=first_name))
#If we use the variable in the placeholder then we can change the order of the data inside the format.

Enter your first nameBharat
Enter your last nameSoren
Welcome Bharat Soren
My first name is: Bharat, My last name is: Soren
My first name is: Bharat, My last name is: Soren

### Variable Dynamic Typing

 The python compiler automaticall know the type of the variable when value is assigned to the variable. 
 We don't have to mentions the type explicitly. This is called as **"Dynamic Typing in the Python"**

In [2]:
a= 10
type(a)

int

In [3]:
a=10.0
type(a)

float

## Strong Typing

Strong typing is a process of force fully changing the type of the ***Value**. Then it is called as the strong typing.
e.g In below example it is showing the error because both the values are not in the same **data type**. So we need to convert the **Integer value** to the **"String"** so that we can perform the concatenation operation.

In [5]:
"Bharat" + 1

TypeError: can only concatenate str (not "int") to str

In [9]:
"Bharat " + str(1)

'Bharat 1'

In [10]:
1 + int("2")

3

### Conditional Statements

In [18]:
## If and elif
a=float(input("Enter the Number 1: "))
b=float(input("Enter the Number 2: "))
c = a - b
if c < 0:
    print("{a_} is smaller than the {b_}".format(a_=a,b_=b))
elif c==0:
    print("{a_} is equal to {b_}".format(a_=a,b_=b))
else:
    print("{a_} is bigger than the {b_}".format(a_=a,b_=b))

Enter the Number 1: 10
Enter the Number 2: 10
10.0 is equal to 10.0

### Data Structures
1. List
2. Tuples
3. String
4. Dictionary
5. Set

In [30]:
## List
## It is a collection of  of homogeneous, heterogeneous elements

lst=[1,2,3,'Bharat','Soren']
lst

[1, 2, 3, 'Bharat', 'Soren']

In [25]:
lst[3]
# Another way to define the list is "Using the List()" function.
# list((1,2,3,'BHarat','Soren'))

'Bharat'

In [26]:
print(type(lst[3]))
print(type(lst[0]))

<class 'str'>
<class 'int'>

In [27]:
list((1,2,3,'BHarat','Soren'))

[1, 2, 3, 'BHarat', 'Soren']

In [31]:
lst

[1, 2, 3, 'Bharat', 'Soren']

In [32]:
lst.append("Home")

In [33]:
lst

[1, 2, 3, 'Bharat', 'Soren', 'Home']

In [38]:
# replace the "3" with "Some"
lst[2]='Data Science'

In [39]:
lst

[1, 2, 'Data Science', 'Bharat', 'Soren', 'Home']

In [40]:
lst.append("Bharat")
lst.append("Bharat")
lst

[1, 2, 'Data Science', 'Bharat', 'Soren', 'Home', 'Bharat', 'Bharat']

In [41]:
lst.count('Bharat')

3

In [42]:
lst.count('Bh')

0

### Indexing

In [43]:
str1='Bharat' # String is "Immutable"
str1[3]

'r'

In [45]:
str1[3]='i' # String doesn't support the item assignment. 
# But you can replace whole string but you won't be able to replace the item of the string.

TypeError: 'str' object does not support item assignment