## 29th Video
### Complex literals
Complex literals can be created using the notation "x + yj" Where x is a real component and y is the imaginary component.

In [2]:
j= 1.0 - 20.0j
j

(1-20j)

In [5]:
x = j
x

(1-20j)

In [6]:
print(x.real,x.imag)

1.0 -20.0

In [7]:
l = []
l

[]

In [9]:
l = list()
l

[]

In [23]:
l1 = [1,2,3,"Bharat", "Soren"]
l2 = [7,8,9,"Sunil","Soren"]

In [24]:
l3 =l1
l1

[1, 2, 3, 'Bharat', 'Soren']

In [12]:
l2

[7, 8, 9, 'Sunil', 'Soren']

In [13]:
l1 + l2

[1, 2, 3, 'Bharat', 'Soren', 7, 8, 9, 'Sunil', 'Soren']

In [18]:
l1.append(l2) # If we append another list with a list then it will take another list as one element and append it.
l1

[1, 2, 3, 'Bharat', 'Soren', [7, 8, 9, 'Sunil', 'Soren']]

In [25]:
l3.extend(l2) # It will merge both the list and store it in 1st list.
l3

[1, 2, 3, 'Bharat', 'Soren', 7, 8, 9, 'Sunil', 'Soren']

In [26]:
l4=["Bharat"] # It is taking as a one element in the list.
l4

['Bharat']

In [27]:
l5 = list("Bharat") # It is converting the string into list by considering each charecter as a element in the list.
l5

['B', 'h', 'a', 'r', 'a', 't']

### LOOPS

In [28]:
### Sum of all the elements in the list
## For Loops

l6=[9,8,7,65,4,3]

result=0

for i in l6:
    result+=i
    
print(result)

96

In [34]:
%%time
## Program to find the sum of all the odd number and sum of all the even number from the below list.

l7 = [1,3,4,6,7,8,9,2,3,4,5]

sum_odd_num=0
sum_even_num=0

for i in l7:
    if i%2==0:
        sum_even_num+=i
    else:
        sum_odd_num+=i
print("Sum of all the Odd Numbers in the list is: {odd_num} \nSum Of all the Even Number in the list is: {even_num}".format(odd_num=sum_odd_num,even_num=sum_even_num))

Sum of all the Odd Numbers in the list is: 28
Sum Of all the Even Number in the list is: 24
CPU times: total: 0 ns
Wall time: 0 ns

In [35]:
%%time 
## We can use this "%%time" to track the time taken to execute the code. 
## And This code will be the 1st line in the programm.

CPU times: total: 0 ns
Wall time: 0 ns

### For Loop with Else
If we want to execute a statement once the for loop is completed then we can use the "For loop with else"

In [43]:
l8 = [4,5,3,6,7,3,2,7,8,9,3,6]

sum4=0
for i in l8:
    if i==1:
        break
    else:
        sum4+=i
else: # The else block code will gets executed only if for loop iteration is completed successfully.
    print("The for loop is completed") # If it breaks in between then else block won't get executed.
    print("The sum of all the element is: ",sum4)

The for loop is completed
The sum of all the element is:  63

#### Break Statements
Break statements will come out of the loop when it gets executed.

In [44]:
l9 = [10,20,30,1,40,50]

sum3=0
for i in l9:
    if i ==1:
        break
    else:
        sum3+=i
print(sum3)

60

In [46]:
## Find the sum of even and odd numbers. 
## If the even number sum or odd number sum is greater then 20 then implement the break condition..print(else block)

l10 =[1,2,3,4,5,6,7]
sum_even=0
sum_odd=0
for i in l10:
    if sum_even >20 or sum_odd > 20:
        break
    elif i %2 ==0:
        sum_even+=i
    else:
        sum_odd+=i
else:
    print("Sum of all the Odd Numbers in the list is: {odd_num} \nSum Of all the Even Number in the list is: {even_num}".format(odd_num=sum_odd,even_num=sum_even))

Sum of all the Odd Numbers in the list is: 16
Sum Of all the Even Number in the list is: 12

### While Loop

In [52]:
## Sum of n elements(1,2,3,4,5,6,7,8,9,10)
n=10
i=1
sum9=0
while i<=n:
    sum9+=i
    i+=1
print("Sum of 1 to nth Numbers:",sum9)

Sum of 1 to nth Numbers: 55

In [53]:
## Sum of n elements(1,2,3,4,5,6,7,8,9,10), Odd and Even Sum
n=10
i=1
odd_sum=0
even_sum=0
while i<=n:
    if i%2 ==0:
        even_sum+=i
    else:
        odd_sum+=i
    
    i+=1
print("Even Number sum is:",even_sum)
print("Odd Number sum is:",odd_sum)

Even Number sum is: 30
Odd Number sum is: 25

### Range Function
Syntax: range(n)
We can generate the sequence of number using the range()

In [54]:
range(10)

range(0, 10)

In [57]:
l11=list(range(10))
l11

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
l12=list(range(4,10))
l12

[4, 5, 6, 7, 8, 9]

In [59]:
l13=list(range(4,20,2)) # 2 is the step size
l13

[4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
sum(range(1,100,2)) # Sum of all the odd numbers until 100

2500

In [61]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

### Continue Statements
The continue statement is used to skip the rest of the code inside the loop for the current iteration only. Loop doesn't terminate buy continue on with the next iteration.

In [64]:
# Program to show the use of "Continue Statement" inside the loop.

for val in "String":
    if val=='i':
        continue
    print(val)
print("The End of 1st loop ")


for val in "String":
    if val=='i':
        break
    print(val)
print("The End of 2nd loop ")

S
t
r
n
g
The End of 1st loop
S
t
r
The End of 2nd loop

### String Indexing

In [65]:
s = 'Hello World'
s

'Hello World'

In [66]:
s[0]

'H'

In [68]:
s[4]

'o'

In [70]:
len(s)

11

In [76]:
s[:] # It will display the data from 0th index to end index of the string. As there is not data is provided in the before and after the colonr
# Syntax s[start_Index(start with 0):end_index(start with 1)]

'Hello World'

In [74]:
s[1:]

'ello World'

In [75]:
s[1:6]

'ello '

In [77]:
s[1:7]

'ello W'

In [78]:
s[-1] # To get the last element of the string

'd'

In [79]:
s[:-1]

'Hello Worl'

In [81]:
s[:-2]

'Hello Wor'

In [82]:
s[::]

'Hello World'

In [85]:
s[::-2] # It is going to jump two times

'drWolH'

In [84]:
s[::-1] # To reverse the string

'dlroW olleH'

### String Inbuild Functions

In [95]:
s='Hello world Bharat'
s

'Hello world Bharat'

In [96]:
s.upper()

'HELLO WORLD BHARAT'

In [97]:
s.lower()

'hello world bharat'

In [98]:
s.title()

'Hello World Bharat'

In [100]:
s.split() # Split the string based on the space

['Hello', 'world', 'Bharat']

In [101]:
s1='Hello,World,Bharat'
s1

'Hello,World,Bharat'

In [103]:
s1.split(sep=',')

['Hello', 'World', 'Bharat']

In [104]:
s1.split('W')

['Hello,', 'orld,Bharat']

### Location and Counting

In [107]:
s2='Bharat Soren'
s2

'Bharat Soren'

In [108]:
s2.count('a')

2

In [106]:
s2.find('a')

2

In [109]:
s2.center(20,'*')

'****Bharat Soren****'

expandtabs() will expand tab notations \t into spaces. lets see an example to understand the concept

In [115]:
s3='hello\thi'
s3

'hello\thi'

In [116]:
s3.expandtabs()

'hello   hi'

## Is Check Methods

In [118]:
s4='hello'
s4

'hello'

In [120]:
s4.isalnum() # It check if a string is either sting or numeric or both

True

In [121]:
s4.isalpha()

True

In [122]:
'hello123'.isalpha()

False

In [123]:
s4.isspace()

False

In [128]:
' '.isspace() # If it only contains the space.

True

In [133]:
s4.endswith('o')

True

In [134]:
s5='Bharat Soren'
s5

'Bharat Soren'

In [135]:
s5.split('a')

['Bh', 'r', 't Soren']

In [136]:
s5.split('t')  # Here 't' is getting removed from the output

['Bhara', ' Soren']

In [137]:
s5.partition('t') # Here 't' won't is getting removed from the output

('Bhara', 't', ' Soren')