In [ ]:
# Watch "5th Dec Live Class Containers and Functions Links to an external site."
# Do the "Python Practice "

In [1]:
## List Comprehension
lst1=[1,2,3,4]
for i in lst1:
    print(i**2)

1
4
9
16

In [2]:
lst2=[1,2,3,4]
lst3=[]
for i in lst1:
    lst3.append(i**2)
print(lst3)

[1, 4, 9, 16]

In [3]:
lst4=[1,2,3,4]

[i**2 for i in lst4]

[1, 4, 9, 16]

In [5]:
# If condition in the list compreshension
# Sum of all the even number in a collection

lst5=[1,2,3,4,5,6,7,8,9,10]

lst6=[i for i in lst5 if i%2==0]
print(lst6)
lst7=sum(lst6)
lst7

[2, 4, 6, 8, 10]

30

## Tuples
Tuples are same as the list and it can store the homogeneous and heterogeneous elements with additional properties that tuples is **"Immutable"**.

The tuples can't be changed. We should use the tuples to present the data that shouldn't be changed.
Such as Days of the week or dates on a calender.

In [6]:
tup1=(1,2,3,4,5,6)
tup1

(1, 2, 3, 4, 5, 6)

In [7]:
type(tup1)

tuple

In [12]:
# Conversion of list to tuples
lst10=[1,2,3,4,5,6]
print(lst10)
tup2=tuple(lst10)
print(type(lst10))
type(tup2)

[1, 2, 3, 4, 5, 6]
<class 'list'>

tuple

In [13]:
tup2

(1, 2, 3, 4, 5, 6)

In [19]:
tup2[3]

4

In [20]:
tup4=('Bharat','Soren','Sonu')

In [24]:
# want to reverse the elements from the tuples

[i[::-1] for i in tup4]

['tarahB', 'neroS', 'unoS']

In [25]:
[i[::-1] for i in tup4][::-1]

['unoS', 'neroS', 'tarahB']

### Sets
Sets are the unordered collection of unique elements which can be constructed usin the set() function. 

It not **subscriptable**

In [26]:
x=set()
y={}

In [27]:
s1=set([1,2,3,4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [29]:
s2=set((4,5,6,7,8,9))
s2

{4, 5, 6, 7, 8, 9}

In [30]:
s3={8,7,5,2,3,4}
type(s3)

set

In [33]:
s4={2,3,5,5,5,6,7,4,4,3,2,7,8,1,8,9,10,1,1} 
s4 #Collection of unique elements

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
x1={1,2,3,6,7,8}
x2={3,4,5,6}
x1.add(9)
x1

{1, 2, 3, 6, 7, 8, 9}

In [35]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
x1.intersection(x2)

{3, 6}

In [38]:
x1[5]

TypeError: 'set' object is not subscriptable

In [39]:
x2.isdisjoint(x1)

False

In [40]:
x3={2,3,4,5}
x4={6,7,8,9}
x3.isdisjoint(x4)

True

### Dictionary
It is a combination of "key" "value" paires. It not **subscriptable**

In [42]:
dic1={1:"Bharat",2:678,3:'Soren',"Sonu":'Sunil'}
dic1

{1: 'Bharat', 2: 678, 3: 'Soren', 'Sonu': 'Sunil'}

In [45]:
d2={4:'Bharat',8:'Soren',3:'678',2:234,4:8900}
d2

{4: 8900, 8: 'Soren', 3: '678', 2: 234}

In [46]:
### Indexing
d2.items()

dict_items([(4, 8900), (8, 'Soren'), (3, '678'), (2, 234)])

In [47]:
d2.keys()

dict_keys([4, 8, 3, 2])

In [48]:
d2.values()

dict_values([8900, 'Soren', '678', 234])

In [49]:
d2[1]

KeyError: 1

In [50]:
d2[2]

234

In [52]:
d4={'key1':123,'key2':[12,23,33],'key3':['item01','item02','item03']}
d4

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item01', 'item02', 'item03']}

In [53]:
d4['key1']

123

In [54]:
d4['Key1'] # Case sensitive

KeyError: 'Key1'

In [55]:
d4['key2'][2]

33

In [56]:
d4['key3'][-1]

'item03'

In [57]:
d4['key4']=145
d4

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item01', 'item02', 'item03'],
 'key4': 145}

### Nesting With Dictionary

In [2]:
# Dictionary nested inside a dictionary nested inside a dictionary

d5={'key1':{'nestkey':{'subnestkey':'value'}}}
d5

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [3]:
# Keep calling the keys
d5['key1']['nestkey']['subnestkey']

'value'

In [4]:
d5.values()

dict_values([{'nestkey': {'subnestkey': 'value'}}])

In [5]:
d5.keys()

dict_keys(['key1'])

In [6]:
d5['key1'].values()

dict_values([{'subnestkey': 'value'}])

## Dictionary Comprehension
syntax is:

In [7]:
{x:x*2 for x in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

# Functions
A function groups a set of statements together to run the statements more than once. It allows us to specify parameters that can serve as inputs to the function.

In [9]:
##  Greet People
print("Hello. Welcome to the Ineuron")
print("Hello. Welcome to the Ineuron")
print("Hello. Welcome to the Ineuron")
print("Hello. Welcome to the Ineuron")
print("Hello. Welcome to the Ineuron")

Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron

In [10]:
## Function
def greeting():
    print("Hello. Welcome to the Ineuron")

greeting()
greeting()
greeting()
greeting()
greeting()

Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron
Hello. Welcome to the Ineuron

In [12]:
### How to define a function
# To define a function you need to use the **def** Keyword and then **function_name*
# Syntax :
# def func_name(parameters1,parameters2,...):
#   function_body

In [13]:
## Sum of all even numbers and odd numbers with different out put
def even_sum(lst):
    result=0
    for i in lst:
        if i%2==0:
            result+=i
    return result

l56=[20,45,30,20]
print(even_sum(l56))

70

In [18]:
## Sum of all even numbers and odd numbers with different output
def even_odd_sum(lst):
    sum_even=0
    sum_odd=0
    for i in lst:
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i
    return sum_even,sum_odd

In [19]:
l66=[20,45,30,20]
out1=even_odd_sum(l66)
print("Even sum is:",out1[0])
print("Odd sum is:",out1[1])

Even sum is: 70
Odd sum is: 45

In [20]:
## Another way to store the multiple return values

l67=[20,45,30,20]
out1,out2=even_odd_sum(l66)
print("Even sum is:",out1)
print("Odd sum is:",out2)

Even sum is: 70
Odd sum is: 45

In [31]:
## Add to list and print the output using function
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]

output=[8,10,12,14,9,11]

def add_lists(lst1,lst2):
    output=[]
    mx_ln=0
    ln_lst1=len(lst1)
    ln_lst2=len(lst2)
    print("Length of List 1 is",ln_lst1)
    print("Length of List 2 is",ln_lst2)
    if ln_lst1 == ln_lst2 :
        mx_ln=ln_lst1
    else:
        print("The length of the list should be equal for both the list")
      
    for i in range(mx_ln):
        output.append(lst1[i]+lst2[i])
    return output

In [32]:
add_lists(lst1,lst2)

Length of List 1 is 6
Length of List 2 is 6

[8, 10, 12, 14, 9, 11]

In [33]:
lst55=[2,3,4,5,6,7]
lst56=[6,7,8,9,3]
add_lists(lst55,lst56)

Length of List 1 is 6
Length of List 2 is 5
The length of the list should be equal for both the list

[]