In [2]:
#List is Iterable, 
#We can iterate throught the collection. 
for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [3]:
# String is also Iterable
for i in "Bharat":
    print(i)

B
h
a
r
a
t

In [4]:
# Tuples are also Itrable
for i in (1,2,3,4,5,"Bharat"):
    print(i)

1
2
3
4
5
Bharat

## Iterator
Iterator can be created on iterable object. We can create the Iterator using the keyword: **iter()**
### Lazy Evaluation
Unless until we call the object it won't load the item inside the object.

In [5]:
a=iter([1,2,3,4,5,6,7])
a

In [6]:
# The above out is the memory location in which object is stored.
# To get the element from the iterator. We use the "next()" Function.

next(a)

1

In [8]:
b=iter([1,2,3,4,5,6,7])
b

In [17]:
next(b) # When it reach the end of the iterator it will show the below error message.

StopIteration:

In [23]:
c=iter([1,2,3,4,5,6,7])
c

In [24]:
next(c)

1

In [25]:
# We can also use the "For Loop" to featch the data from iterator.
# It will load the data at the run time and the pointer is also getting moved. It will display from current pointer location.

for i in c:
    print(i)

2
3
4
5
6
7

## Generator
It is used to create a "Iterator" . Using the key word "Yield"

In [26]:
# Generator function for the cube of numbers (power of 3)
# Using normal Function.

def getCubes(n):
    listOfSquares=[]
    for i in range(n):
        listOfSquares.append(i**3)
    return listOfSquares
    print("Something")

In [29]:
getCubes(5)

[0, 1, 8, 27, 64]

In [28]:
def genCubes(n):
    for num in range(n):
        yield num**3
        print("Something")

In [37]:
output=genCubes(5)
output

In [39]:
next(output)

Something

1

In [68]:
def genfibon(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

In [69]:
output1=genfibon(10)

In [70]:
for i in output1:
    print(i)

0
1
1
2
3
5
8
13
21
34

## Map Functions
The map is a function that takes two arguments.

    1. A function
    
    2. A Sequence Table
    
In the form(function,sequence)

In [72]:
def square_number(x):
    return x**2

In [73]:
square_number(5)

25

In [78]:
mp=map(square_number,[1,2,3,4,5])
mp

In [76]:
for i in mp:
    print(i)

1
4
9
16
25

In [79]:
list(mp)

[1, 4, 9, 16, 25]

In [84]:
list(map(lambda x:x*x,[1,2,3,4,5])) # We can also use the lambda function for the single line of code function.

[1, 4, 9, 16, 25]

In [80]:
def fahrenheit(T):
    return ((float(9)/5)*T+32)

def celsius(T):
    return (float(5)/9)*(T-32)
    
def summ(x,y):
    return(x+y)

In [81]:
temp=[0,22.5,40,100]

In [82]:
list(map(fahrenheit,temp))

[32.0, 72.5, 104.0, 212.0]

## Lambda Function
It is a function without any name. Also, It workes very fast.

It is also called as anonymous function

In [86]:
temp

[0, 22.5, 40, 100]

In [87]:
list(map(lambda x:((float(9)/5)*x+32),temp))

[32.0, 72.5, 104.0, 212.0]

In [93]:
# Lambda with two and three parameters
l=lambda x,y : x+y
l1=lambda x,y,z : (x+y, y+z ,x-z)

In [94]:
l(10,20)

30

In [95]:
l1(10,20,30)

(30, 50, -20)

## Reduce Function
This function reduce(function,sequence) continually applies the function to the sequence. It then returns a single value.

Reduce() function is present inside the below library. so we need to import that.

 **from** functools **import** reduce 

Syntax: Reduce(function, sequence[,initial])

In [98]:
# Find the maximum of a sequence (This already exists as max())
max_find=lambda a,b: a if (a > b) else b
lst5=[1,2,3,5,6,7,8,9]

In [100]:
from functools import reduce
reduce(max_find,lst5)

9

In [101]:
# Sum of all the number using lambda function
sum_num=lambda x,y: x+y

In [103]:
lst6=[10,20,30,40,50,10]
reduce(sum_num,lst6)

160

## Filter Function
The function filter(function,list) offers a convenient way to filter out all the elements of an iterable for which the function returns "True".

In [104]:
# First let's make a function
def even_check(num):
    if num%2==0:
        return True

In [106]:
lst7=[1,2,3,4,5,6,7,8,9,10]
output=filter(even_check,lst7)
list(output)

[2, 4, 6, 8, 10]